@model IEnumerable<ProyectoSeminarioControlNotas.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h1>Listado de cursos</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCurso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idCurso">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idCurso">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
