@model IEnumerable<ProyectoSeminarioControlNotas.Models.Calificacion>

@{
    ViewData["Title"] = "Calificaciones";
}

<h1>Listado de calificaciones</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notaParcialUno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notaParcialDos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notaZona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notaExamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notaFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notaParcialUno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notaParcialDos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notaZona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notaExamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notaFinal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCalificacion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idCalificacion">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idCalificacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
