@model ProyectoSeminarioControlNotas.Models.Carrera

@{
    ViewData["Title"] = "Detalles de carrera";
}

<h1>Detalles de carrera</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoCarrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoCarrera)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idCarrera">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
