@model IEnumerable<ProyectoSeminarioControlNotas.Models.Carrera>

@{
    ViewData["Title"] = "Carreras";
}

<h1>Listado de carreras</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoCarrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoCarrera)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCarrera">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idCarrera">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idCarrera">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
